.messages {
  padding: 5px;
}

.messages__container {
  padding: 10px;
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
  background-color: #414141;
  color: #e1e1e1;
  border: 1px solid #828282;
}

.messages__header {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.messages__header h2 {
  font-size: 16px;
  text-align: center;
  color: #828282;
}

.messages__feed {
  padding: 5px;
  height: 50vh;
  overflow-y: auto;
}

.messages__author {
  font-weight: bold;
}

.messages__timestamp {
  padding-left: 10px;
  font-size: 12px;
}

.messages_msg {
  display: block;
  padding-top: 10px;
}