* {
  font-family: Arial, sans-serif;
  font-size:14px;
  margin:0;
}

.app {
  width: 400px;

  margin: 10px auto;
  background-color: #38383a;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}.messages {
  padding: 5px;
}

.messages__container {
  padding: 10px;
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
  background-color: #414141;
  color: #e1e1e1;
  border: 1px solid #828282;
}

.messages__header {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.messages__header h2 {
  font-size: 16px;
  text-align: center;
  color: #828282;
}

.messages__feed {
  padding: 5px;
  height: 50vh;
  overflow-y: auto;
}

.messages__feed::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #828282;
}

.messages__feed::-webkit-scrollbar {
  width: 12px;
}

.messages__feed::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #414141;
}

.messages__author {
  font-weight: bold;
}

.messages__timestamp {
  padding-left: 10px;
  font-size: 12px;
}

.messages_msg {
  display: block;
  padding-top: 10px;
}.msg-form {
  padding-bottom: 10px;
}

.msg-form__username {
  display: block;
  margin-left: 20px;
}

.msg-form__input-text {
  display: block;
  margin: auto;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
  background-color: #414141;
  color: #e1e1e1;
  border-color: #828282;
  resize: none;
}

.msg-form__input-text:focus {
  outline: 0;
  border-color: #e1e1e1;
}

.msg-form__submit {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #414141;
  color: #e1e1e1;
  border-color: #828282;
}

.msg-form__submit:focus {
  outline: 0;
  border-color: #e1e1e1;
}